<div class="container mt-5">
  <div class="card p-4 shadow">
    <h2 class="mb-4 text-warning">Update Student</h2>

    <form [formGroup]="studentForm" (ngSubmit)="updateStudent()">
      <div class="mb-3">
        <label class="form-label">First Name</label>
        <input
          type="text"
          class="form-control"
          formControlName="first_name"
          placeholder="Enter First Name"
        />
      </div>

      <div class="mb-3">
        <label class="form-label">Last Name</label>
        <input
          type="text"
          class="form-control"
          formControlName="last_name"
          placeholder="Enter Last Name"
        />
      </div>

      <div class="mb-3">
        <label class="form-label">Age</label>
        <input type="number" class="form-control" formControlName="age" placeholder="Enter Age" />
      </div>

      <div class="mb-3">
        <label class="form-label">Class</label>
        <input
          type="number"
          class="form-control"
          formControlName="class"
          placeholder="Enter Class"
        />
      </div>

      <button type="submit" class="btn btn-warning">Update Student</button>
    </form>
  </div>
</div>
